<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>intGame</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.2/axios.min.js"></script>
    <link rel="stylesheet" href="/public/style.css">
</head>
<body>
    
    <div class="container">

        <div class="gblock">

            <h1> Потрібний INT: <%= rIntValue %></h1>
            <br>
            Достпуні цифри:
            <br>
            <span> <%= rIntListValue1 %> </span><button class="plus1">+</button>
            <br>
            <span> <%= rIntListValue2 %> </span><button class="plus2">+</button>
            <br>
            <span> <%= rIntListValue3 %> </span><button class="plus3">+</button>
            <br>
            <br>
            <button class="generate">Згенерувати ще</button>

            <h1 class="counter">Кроки: <%=  %></h1>
        </div>

    </div>

    <script>
        // const run = async () = {
        //     const result = await axios.post('./game', {});
        // }
        // run()
    </script>
</body>
</html>